<section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4">Sign in</h4>
                    <form action="/admin/adminpage" method="post">
                        <div class="mb-3">
                            <input name="email" class="form-control" placeholder="email" type="email">
                        </div> <!-- form-group// -->
                        <div class="mb-3">
                            <input name="password" class="form-control" placeholder="Password" type="password">
                        </div> <!-- form-group// -->
                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary w-100"> Login </button>
                        </div> <!-- form-group// -->
                    </form>
                </div>
            </div>
        </section>