
<!-- products-breadcrumb -->
	<div class="products-breadcrumb">
		<div class="container">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a><span>|</span></li>
				<li>Order Placed</li>
			</ul>
		</div>
	</div>
<!-- //products-breadcrumb -->

<section>
  <div class="row">
    <div class="container">
      <div class="col-md-12 text-center" style="margin: 30px;">
        <h1 class="text-center" style="margin:100px;">Order Placed Successfully</h1>
        <a href="/orders" class="btn btn-success" style="margin: 35px;">View Orders</a>
      </div>
    </div>
  </div>
</section>